.features
    padding: 10rem 1rem 1rem

    &__wrapper
        text-align: center  

    &__item
        margin: 1rem 0

    &__descr
        width: 100%
        max-width: 500px
        margin: 2rem auto 4rem auto

    &__list

        display: grid
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        grid-gap: 3rem;

.feature
    padding: 1rem
    margin: 1rem

    &__item
        margin: .5rem auto

    &__icon
        width: 70px
        height: 70px
        margin-bottom: 2rem
        border-radius: 50%
        box-shadow: 0 7px 15px rgba(0, 9, 128, 0.05), 0 12px 28px rgba(0, 9, 128, 0.075)

    .icon--rocket
        background: center no-repeat url('../images/rocket.svg')

    .icon--ghost
        background: center no-repeat url('../images/ghost.svg')

    .icon--cup
        background: center no-repeat url('../images/cup.svg')

    &__descr
        width: 100%
        max-width: 300px

