*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Open Sans', sans-serif

body
    color: #708198

ul
    list-style: none

a
    text-decoration: none
    color: #000


h2
    font-size: 2rem

    @media screen and ( max-width: 768px)
        font-size: 1.5rem

    