@import 'base/vars'
@import 'base/mixins'
@import 'base/base'

@import 'blocks/toogleBtn'

@import 'sections/header'
@import 'sections/features'
@import 'sections/steps'
@import 'sections/integration'
@import 'sections/design'
@import 'sections/award'

.wrapper 
    margin: 0 auto
    width: 100%
    max-width: 1140px