.newsletter
    display: flex
    margin: 1.5rem auto
    border: 0 solid #ced4da
    border-radius: 20px
    width: 100%
    max-width: 320px
    box-shadow: 0 7px 15px rgba(0, 9, 128, 0.05), 0 12px 28px rgba(0, 9, 128, 0.075)
    

    input
        padding: 11px 1rem 11px 1.5rem
        border: none
        border-radius: 20px 0 0 20px
        width: 68%
        color: #708198
        font-size: 1rem

    button
        padding: .5rem
        border: none
        border-radius: 0 20px 20px 0
        width: 32%
        cursor: pointer
        background: linear-gradient(45deg, #fe60a1 0%, #ff8765 100%)
        color: #ffffff
        text-transform: uppercase
        
        